node_modules
.vscode
.turbo

apps/client/.react-router
apps/client/.env
apps/client/node_modules
apps/client/dist

apps/server/src/generated/

apps/server/dist
apps/server/postgres
apps/server/node_modules
apps/server/.env
apps/server/docker-compose.yml

packages/schemas/dist
packages/schemas/node_modules

funcionalidad.md
notas.md

apps/server/.gitignore

postgres
docker-compose.ymlaz